body {
    background: #777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    widows: 960px;
    margin: 0 auto;
}
#stylefont {
    text-align: center;
    padding-top: 10px;
    color: #777;
}
#lightstylefont {
    text-align: center;
    padding-top: 10px;
    color: #ebebeb;
}
header {
    background: #ebebeb;
    width: 495px;
    height: 40px;
    margin: 10px auto;
    text-align: center;
    margin-bottom: 0 auto;
}
.nav {
    background: #ebebeb;
    width: 495px;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

.main-box {
    width: 495px;
    min-height: 350px;
    margin: 0 auto;
    clear: both;
}

.section {
    background: #ebebeb;
    width: 48.5%;
    height: 350px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    float: left;
    margin-right: 3%;
}
.aside {
    background: #ebebeb;
    width: 48.5%;
    height: 350px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    float: left;
}
.article {
    background: #777;
    width: 220px;
    height: 250px;
    margin: 10px auto;
    text-align: center;
    margin-bottom: 20px;
}

.htag {
    background: #ebebeb;
    width: 150px;
    height: 40px;
    margin: 10px auto;
    text-align: center;
    margin-top: 60px;
}

.ptag {
    background: #ebebeb;
    width: 150px;
    height: 40px;
    margin: 10px auto;
    text-align: center;
    margin-bottom: 20px;
}
.footer {
    background: #ebebeb;
    width: 495px;
    min-height: 40px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}